<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 순서3. 마이바티스 컨피그 설정 -->
<configuration>

	<!--mybatis에 로깅연결하여 consol에서 sql을 확인해 본다.-->
	<settings>
		<setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
	</settings>
	
	<!-- typeAlias(숏네임) 설정 -->
    <typeAliases>
    	<!--알리아스 설정 문법이 오류로 인식함-->
        <!--<typeAlias type="com.skc.dto.MemberDTO" alias="member"></typeAlias>
        <typeAlias type="com.skc.dto.MoneyDTO" alias="money"></typeAlias>-->
        <typeAlias type="com.skc.dto.MemberDTO" alias="member"/>
        <typeAlias type="com.skc.dto.MoneyDTO" alias="money"/>
    </typeAliases>
    
</configuration>
